<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Interesting blogs and discussions on aircraft maintenance engineering (AME)</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/favicon-32x32.png" type="image/png">

    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="/">
                        <img src="/images/logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->
                <!--
                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul>
                --> <!-- end header__social -->
                <!--
                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  
            --><!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Explore</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="/" title="">Home</a></li>
                        <li><a href="/about" title="">About</a></li>
                        <li><a href="/contact" title="">Post as a Guest</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Social Media</a>
                            <ul class="sub-menu">
                           
                        <li><a href="https://www.facebook.com/www.iiae.in/">Facebook</a></li>
                        <!-- <li><a href="#0">Instagram</a></li> -->
                        <li><a href="https://twitter.com/iiaedelhi/">Twitter</a></li>
                        <li><a href="https://in.pinterest.com/iiaeinstitute/">Pinterest</a></li>
                        <!-- <li><a href="#0">Google+</a></li> -->
                        <li><a href="https://www.linkedin.com/company/iiae/">LinkedIn</a></li>

                            </ul>
                        </li>
                        
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Rescue Via Air
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">December 23, 2019</li>
                    <li class="cat">
                        In
                        <a >Defence</a>
                        <!-- <a href="#0">Travel</a> -->
                    </li>
                </ul>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="/images/cover-1.png" 
                        
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="" >
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">
<p>The Indian Aircraft constitutes a major component of the Indian Air Force. The branch of Aerospace or Aviation entails a multitude of obsolete and advanced aircrafts to encompass a plethora of over-battlefield duties. According to the current status as of 2019, there are about twenty-seven Indian Air Force Aircrafts in the Military Factory.</p>
<p>The Air Force Museum displays the true essence of aircrafts in saving the lives of the people residing in India. It’s one of the most esteemed institutions, which exhibits the solidarity of the Indian Military Aviation. There’s absolutely no doubt regarding the fact that the Indian Air Force has played a major role in relieving thousands of people from both physical and mental turmoil, thus making India the greatest nation to date when aspects like unity and fraternity have been forthrightly brought up.</p>                

<p>This museum is elevated to the status of a “temple-like figure” where memories of India’s prestige and heritage have been inscribed. However, the most outstanding feature of this Museum is found in the form of a ‘wall’ in one of its segments. It has in golden digits, “Roll of Honor.”</p>
                <h2>True Indian Stories</h2>
<p>Certain stupendous officers have been immortalized, owing to their indomitable courage, physical prowess, and valorous deeds. Such officers have put their lives at stake in order to uphold the glory of this country. This can be witnessed in some of the most renowned historical events in the past, some of which are the conflicts such as the Indo-Pak ones in 1965 and 1971, the Indo-China War in 1962, and the massive turbulent atrocities over the State of Jammu and Kashmir in 1947.</p>
                <blockquote><p>Who kept the faith and fought the fight; The glory theirs, the duty ours.</p></blockquote>

<p>One of the most striking examples in Indian history is that of a flight attendant named Neerja Bhanot who saved the lives of 630 human beings who had boarded the Pan Am Flight 73 on the 5th of September, 1986. The flight landed in Karachi and was subsequently, hijacked as it was stationed at the Jinnah International Airport, Karachi.</p>

  <p>Four brutal terrorists disguised as Security Guards of the Airport entered the aircraft and began an onslaught on the passengers who were peacefully sitting inside the aircraft. </p>          
<p>Neerja Bhanot handled the dreadful situation with stoic courage and being the senior-most Flight Attendant carried out all her duties responsibly by attending to the needs of all the passengers, including young children and old people. Like a maternal figure, she provided stability to the chaos that surrounded her
    She showed her responsibility that her profession demanded until her very last breath with relentless fervor. She rescued the prime target of the terrorists who were the American passengers by sliding their respective passports into the garbage bin. Only 2 passengers were slaughtered out of a total of 41 passengers and around 20 people out of 380 crew members and passengers were killed.</p>
<p>Thus, in this article, the various ways in which the aircrafts have proved to be beneficial for Indians have been outlined and with time, the vast field of “Aviation” is widening its scope of interest for the welfare of the public.</p>


                
                

            </div> <!-- end s-content__main -->

        </article>


        <!-- comments
        ================================================== -->
        
    </section> <!-- s-content -->




    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Post as a guest</a></li>
                    
                        <li><a href="/login">Sign In As Admin</a></li>

                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Careers</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="https://www.iiae.in/ame/">Aircraft Maintenance Engineering</a></li>
                        <li><a href="https://www.iiae.in/admission/  ">AME Exam</a></li>
                        <li><a href="https://www.iiae.in/admission/  ">AME Eligibility</a></li>
                        <li><a href="https://www.iiae.in/career/  ">AME Scope</a></li>
                        <li><a href="https://www.iiae.in/ ">Colleges in India</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="https://www.facebook.com/www.iiae.in/">Facebook</a></li>
                        <!-- <li><a href="#0">Instagram</a></li> -->
                        <li><a href="https://twitter.com/iiaedelhi/">Twitter</a></li>
                        <li><a href="https://in.pinterest.com/iiaeinstitute/">Pinterest</a></li>
                        <!-- <li><a href="#0">Google+</a></li> -->
                        <li><a href="https://www.linkedin.com/company/iiae/">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Our Newsletter</h4>

                    <p>Be the first to know. Get latest updates & news on aviation and aircraft from India and around the world..</p>

                    <div class="subscribe-form">
                        <form class="group"  method="POST" action="/contact">

                            <input type="email" value="" name="email" class="email"  placeholder="Email Address" required="">
                
                            <input type="submit" name="subscribe" value="Send">
                
                            <!-- <label for="mc-email" class="subscribe-message"></label> -->
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->


    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>