<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Interesting blogs and discussions on aircraft maintenance engineering (AME)</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/favicon-32x32.png" type="image/png">

    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="/">
                        <img src="/images/logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->
                <!--
                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul>
                --> <!-- end header__social -->
                <!--
                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  
            --><!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Explore</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="/" title="">Home</a></li>
                        <li><a href="/about" title="">About</a></li>
                        <li><a href="/contact" title="">Post as a Guest</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Social Media</a>
                            <ul class="sub-menu">
                           
                        <li><a href="https://www.facebook.com/www.iiae.in/">Facebook</a></li>
                        <!-- <li><a href="#0">Instagram</a></li> -->
                        <li><a href="https://twitter.com/iiaedelhi/">Twitter</a></li>
                        <li><a href="https://in.pinterest.com/iiaeinstitute/">Pinterest</a></li>
                        <!-- <li><a href="#0">Google+</a></li> -->
                        <li><a href="https://www.linkedin.com/company/iiae/">LinkedIn</a></li>

                            </ul>
                        </li>
                        
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Where does Indian Aviation stand?
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">December 21, 2019</li>
                    <li class="cat">
                        <!-- In -->
                        <!-- <a >Defence</a> -->
                        <!-- <a href="#0">Travel</a> -->
                    </li>
                </ul>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="/images/cover-2.png" 
                        
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="" >
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">
                <p>From the first commercial flight that took place in 1911 from Allahabad to Naini just about a
                    distance of 10 kms, to today, Indian aviation has grown leaps and bound. Divided into civil and
                    military, Indian aviation industry has shown a consistent and considerable growth within last 3
                    years. It is already the third largest aviation market in the world. The number of passengers
                    choosing to fly has been growing consistently year over year and its air passenger market is
                    slated to move up to third position beating UK, Germany, Spain and Japan, within next 10
                    years as per IATA’s (International Air Transportation Association) 2019 report. The future
                    therefore looks extremely bright and promising but is also fraught with its challenges. Let’s
                    delve into these aspects in detail.</p>
                <p>India being the largest democracy in the world with 1.3 billion people and with its number of
                    middle-class households becoming threefold, with a big percentage of travelers looking for
                    time-saving travel options, Indian aviation and passenger market is set to play a pivotal role in
                    coming years. Introduction to low cost carriers, modernized airports, foreign direct investment
                    in domestic airlines, and use of advanced IT, and the need for regional connectivity has all
                    contributed to its fast-paced growth. The government proposed around 325 new routes to
                    connect hilly and other remote areas. The UDAN scheme has aimed at connecting the regions
                    within the country well and at an affordable rate. All this has contributed to the double-digit
                    growth of the civil aviation sector with over the last few years. </p>
                <p>We can see that over last few years the growth has been rapid, and the figures of 2018 not
                    reported here suggest that India is on the same track of double-digit growth for a few more
                    years at the least. October 2018 was the 50th month in a row that recorded double-digit growth
                    for the industry.
                    The reason for this strong demand can be attributed partly to the slump in air fares. The average
                    cost of airfare has been going down for about a decade now.</p>
                <p>Post 2013, 2014 which might be a result of kingfisher’s demise, the airfare costs have shown a
                    downward trend only.
                    Also increasing number of routes and increased frequency of flights, has given passengers a
                    time saving travel option, which has further led to increased demand in recent years. </p>
                <p>India has increased the number of non-stop services to overseas cities steadily over time. In
                    2018 there were around 304 such services. This has been driven by the need to make India
                    more accessible to international visitors.
                    India’s air cargo market has been also showing strong growth driven by India’s the integration
                    of India’s pharmaceutical industry with the global value chains.</p>

                <h2>World Aviation and India
                </h2>
                <p>In 2018, airlines globally saw an increase in the number of routes and frequencies at lowered
                    costs and there was a robust passenger demand. </p>
<p> Indian domestic aviation market is the fastest growing market
    and AITA has been closely tracking it amongst other growing countries.In year 2018, the revenue, passenger, kilometer (RPK) growth,
    was the highest for India’s domestic airline market as compared to other key countries.
    So in comparison to other key countries Indian aviation’s growth rate and prospects have been
    quite favorable and set to rise.</p>
<p>Historically, and globally the airline industry has had troubles generating consistent profits
    even when demands are high. The equity investors are not typically compensated well for
    investing their capital in the industry although the airlines are able to clear the debts mostly.
    Last 3 years have seen a turnaround in this regard and hopefully this shall continue in the future
    as well. </p>


                
                

            </div> <!-- end s-content__main -->

        </article>


        <!-- comments
        ================================================== -->
        
    </section> <!-- s-content -->




    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Post as a guest</a></li>
                    
                        <li><a href="/login">Sign In As Admin</a></li>

                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Careers</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="https://www.iiae.in/ame/">Aircraft Maintenance Engineering</a></li>
                        <li><a href="https://www.iiae.in/admission/  ">AME Exam</a></li>
                        <li><a href="https://www.iiae.in/admission/  ">AME Eligibility</a></li>
                        <li><a href="https://www.iiae.in/career/  ">AME Scope</a></li>
                        <li><a href="https://www.iiae.in/ ">Colleges in India</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="https://www.facebook.com/www.iiae.in/">Facebook</a></li>
                        <!-- <li><a href="#0">Instagram</a></li> -->
                        <li><a href="https://twitter.com/iiaedelhi/">Twitter</a></li>
                        <li><a href="https://in.pinterest.com/iiaeinstitute/">Pinterest</a></li>
                        <!-- <li><a href="#0">Google+</a></li> -->
                        <li><a href="https://www.linkedin.com/company/iiae/">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Our Newsletter</h4>

                    <p>Be the first to know. Get latest updates & news on aviation and aircraft from India and around the world..</p>

                    <div class="subscribe-form">
                        <form class="group"  method="POST" action="/contact">

                            <input type="email" value="" name="email" class="email"  placeholder="Email Address" required="">
                
                            <input type="submit" name="subscribe" value="Send">
                
                            <!-- <label for="mc-email" class="subscribe-message"></label> -->
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->


    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>