<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Interesting blogs and discussions on aircraft maintenance engineering (AME)</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/favicon-32x32.png" type="image/png">

    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="/">
                        <img src="/images/logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->
                <!--
                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul>
                --> <!-- end header__social -->
                <!--
                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  
            --><!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Explore</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="/" title="">Home</a></li>
                        <li><a href="/about" title="">About</a></li>
                        <li><a href="/contact" title="">Post as a Guest</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Social Media</a>
                            <ul class="sub-menu">
                           
                        <li><a href="https://www.facebook.com/www.iiae.in/">Facebook</a></li>
                        <!-- <li><a href="#0">Instagram</a></li> -->
                        <li><a href="https://twitter.com/iiaedelhi/">Twitter</a></li>
                        <li><a href="https://in.pinterest.com/iiaeinstitute/">Pinterest</a></li>
                        <!-- <li><a href="#0">Google+</a></li> -->
                        <li><a href="https://www.linkedin.com/company/iiae/">LinkedIn</a></li>

                            </ul>
                        </li>
                        
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Types of Planes and When To Use Them?</h1>
                <ul class="s-content__header-meta">
                    <li class="date">December 23, 2019</li>
                    <li class="cat">
                        <!-- In -->
                        <!-- <a >Defence</a> -->
                        <!-- <a href="#0">Travel</a> -->
                    </li>
                </ul>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="/images/cover-3.png" 
                        
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="" >
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">
<p>In this dynamic and globalized world, where the technology is achieving new heights day by day so are
    the various sectors of the economy. One of those sector is the air sector, which is an important part
    of this globalized economy for safe,secure and fast transportation of passengers as well as cargo from
    one part of the world to another.
    </p>
<p>Most of the passengers and companies prefer the air sector for traveling and transportation of their
    cargo since the travel time is reduced as compared to other traveling means and methods. So, now
    let’s discuss the types of planes and when are they used and for what purpose they are used. The
    aircraft/planes are mainly used for transportation of cargo and passengers and other purposes like
    military jets. </p>
<p>1.PASSENGER AIRPLANES - About every passenger plane transports cargo in addition to
    passengers carried on its main deck. The "belly" of the aircraft is designed to accommodate the
    passenger’s luggage and other airfreight of suppliers. Most of the airfreight carried through passenger
    planes are not palletized (i.e., it is held loosely in the plane) and is shipped piece by piece, none of the
    freight or packages are secured onto the aircraft. Often, international cargo services on passenger
    airplanes are somewhat unreliable as airlines often bump the freight, creating more capacity to carry
    additional passengers, and their luggage One of the biggest constraint on a shipper or supplier of
    goods using passenger airplanes for shipping freight is the maximum size of the shipment that it can
    be. The main issues involved are the size of the hold- which depends on an airplane used and size of
    the door to access the hold.</p>
<p>Another concern is that there are many items that are allowed to be transported through passenger
    planes, even though they are acceptable for air transport via passenger planes. Another alternative
    available to the shipper to transport the product is through a courier service which is often carried out
    by the student or any other person who is flying in that city where the courier needs to be transported.
    It usually involves critical parts and important documents and they travel as passenger’s luggage.</p>
<p>2. COMBI AIRPLANES- They are also passenger airplanes that are designed so that freight is
    carried on the main deck as well as in the belly hold. The main deck is, therefore “split” at some point
    in the middle of the aircraft, with the forefront portion of the plane reserved for passengers and the
    after portion reserved for freight. Some aircraft are reserved for passengers and the after portion
    reserved for freight. Some aircraft are designed specifically with a partition that is based on the
    demand of customers, during the seasonal time the partition is in such a way that there is more space
    for passenger accommodation and less space for freight.</p>
<p>For shippers, combi airplanes are an advantage as size limitation of passenger
    aircraft are especially gone. The main deck has greater weight capacity, a much larger door for freight
    to be loaded and unloaded and can accommodate palletized and containerized cargo. The cargo can
    also be secured through slings, which hold the freight tight in case of turbulence.</p>
<p>3. AIRFREIGHT- Most of the airfreight are “liners” i.e., they operate on a regular basis or liner
    basis from one airport to another, out of which one airport is the hub the location where the cargo
    will be transferred to another flight. The type of airplane used in this trade is the same passenger
    plane, with the exception that these aircraft are equipped with roller deck. A roller deck is the main
    deck that is equipped with rollers for palletized cargo to be loaded and unloaded, either through
    oversize size door or through the nose of the airplane which can be lifted while loading and unloading.</p>
<p>The cargo is then secured to aircraft floor and walls using hooks and slings. Air
    freighters present the advantage for shippers of offering regular service of transporting the cargo on
    which palletized and containerized cargo can be loaded and unloaded. The air freighters has given
    shipper the advantage of transporting the cargo in a much faster and secure manner to the final
    destination.</p>
<p>4. CHARTERS - Under charters, the planes they serve the shippers on single voyage basis under
    one of any two conditions:- <br>
     If the goods to be shipped do not fit into the aircraft because either they are
    too heavy or too large to be loaded. In those cases, the shipper will charter
    a heavy lift cargo to accommodate and transport the cargo to the
    destination.<br>
     The second condition the cargo needs to reach its destination quickly and
    using regular aircraft will delay the process, so in such case, the shipper has
    to charter an airplane to get the cargo quickly transported. Example of such
    cargo include “Just in time” materials for manufacturing.</p>
<p>5. MILITARY JETS/AIRCRAFT - The military jets are mainly used for war and other crucial
    situations and used for transportation of military cargo to destinations where normal aircraft are not
    allowed to enter. They are used for transporting military personnel from one location to either
    location of war or military hub. These aircraft are equipped with special machines and other
    ammunition already installed for war, it carries the capacity to accommodate one or two pilots.
    In the end, there are various aircrafts available for various purposes depending on the nature of
    passengers, cargo and environment to be transported and where to be transported. </p>
<p></p>
<p></p>
<p></p>




                
                

            </div> <!-- end s-content__main -->

        </article>


        <!-- comments
        ================================================== -->
        
    </section> <!-- s-content -->




    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Post as a guest</a></li>
                    
                        <li><a href="/login">Sign In As Admin</a></li>

                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Careers</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="https://www.iiae.in/ame/">Aircraft Maintenance Engineering</a></li>
                        <li><a href="https://www.iiae.in/admission/  ">AME Exam</a></li>
                        <li><a href="https://www.iiae.in/admission/  ">AME Eligibility</a></li>
                        <li><a href="https://www.iiae.in/career/  ">AME Scope</a></li>
                        <li><a href="https://www.iiae.in/ ">Colleges in India</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="https://www.facebook.com/www.iiae.in/">Facebook</a></li>
                        <!-- <li><a href="#0">Instagram</a></li> -->
                        <li><a href="https://twitter.com/iiaedelhi/">Twitter</a></li>
                        <li><a href="https://in.pinterest.com/iiaeinstitute/">Pinterest</a></li>
                        <!-- <li><a href="#0">Google+</a></li> -->
                        <li><a href="https://www.linkedin.com/company/iiae/">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Our Newsletter</h4>

                    <p>Be the first to know. Get latest updates & news on aviation and aircraft from India and around the world..</p>

                    <div class="subscribe-form">
                        <form class="group"  method="POST" action="/contact">

                            <input type="email" value="" name="email" class="email"  placeholder="Email Address" required="">
                
                            <input type="submit" name="subscribe" value="Send">
                
                            <!-- <label for="mc-email" class="subscribe-message"></label> -->
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->


    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>